@font-face {
    font-family: "Digital 7";
    src: url(digital-7-font/Digital7-rg1mL.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc-container {
    border: solid 2px #8b73ff;
    background-color: #8b73ff;
    width: 50%;
    padding: 20px;
    border-radius: 15px;
}

.display-container {
    border: solid 2px #e1a3ff;
    background-color: #e1a3ff;
    padding: 15px;
    border-radius: 15px;
    font-family: "Digital 7", sans-serif;
    font-size: 30px;
}

.buttons-container {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    border: solid 2px white;
}

button {
    width: 30%;
    border-radius: 25px;
    background-color: white;
    border: solid 2px white;
    color: #8b73ff;
    font-size: 25px;
    font-weight: bold;
    font-family: "Quicksand", sans-serif;
    text-align: center;
}

.wide {
    width: 45%;
}